api/node_modules

client/node_modules
client/build
client/coverage
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

client-admin/node_modules
client-admin/build
client-admin/coverage
client-admin/.DS_Store
client-admin/.env.local
client-admin/.env.development.local
client-admin/.env.test.local
client-admin/.env.production.local
client-admin/npm-debug.log*
client-admin/yarn-debug.log*
client-admin/yarn-error.log*

bot/node_modules